.App {
  margin: 50px auto;
  max-width: 900px;
}

table {
  background-color: grey;
  border: 1px solid black;
}

th {
  background-color: white;
  padding: 10px;
}

td {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  padding: 5px;
}
